- skip_gdoc ||= false
- listing ||= nil
- omit_menu ||= false
- document ||= listing || @document
- narrow ||= false
- character_count = narrow ? 28 : 64

%li.document{:id => "document_#{document.id}", data: {narrow: narrow, doc_id: document.id}}
  - extension = document.file_extension.downcase
  - detail_url = droom.folder_document_url(document.folder, document)
  - if document.google_doc_link.present?
    - detail_url = document.google_doc_link
    - extension = 'gdoc'
  
  - unless skip_gdoc && document.google_doc_link.present?
    = link_to detail_url, class: "document #{['pdf', 'gdoc'].include?(extension) ? 'no-bg-image' : ''} #{extension}", target: "_blank" do
      - if extension == 'pdf'
        %svg.icon.medium
          %use{"xlink:href" => "#pdf_symbol"}
      - elsif extension == 'gdoc'
        %svg.icon.pint-sized3
          %use{"xlink:href" => "#google_doc_symbol"}
      %span
        = shorten(document.name, character_count, '')
        = "(#{document.position})"
    - unless omit_menu
      = action_menulink(document)
    = action_menu(document)
