- cssclass = 'personal_info'
- cssclass << ' editable' if can?(:edit, @user)

%section{class: cssclass, data: {refreshing: true, url: droom.user_url(@user, view: 'personal', format: :js)}}
  - if @user && can?(:edit, @user)
    %span.user_controls
      = link_to t(:edit_user_profile_symbol), droom.edit_user_url(@user, view: 'personal'), class: "edit", data: {action: 'popup', affected: 'section.personal_info, span.user_title'}

  %h2.section
    = t :user_profile_personal

  #personal_info_content
    #left_pane
      - if @user.image.attached?
        - img = @user.image_url(:thumb)
      - else
        - img = image_url('missing/user.png')

      .image-upload{:data => {:role => "imagepicker"}}
        %a.box.border-0{:href => "#", :style => "background-image: url(#{img})", :data => {:action => "pick"}}

    #right_pane
      .right_pane_container
        .right_pane_contents
          = 'Name: '
          %b
            = [@user.informal_name, @user.chinese_name].join(' ')
        
        .right_pane_contents
          = 'Title: '
          %b
            = @user.title.present? ? @user.title : t(:not_known)
      .right_pane_container
        .right_pane_contents
          = 'Gender: '
          %b
            = @user.gender.present? ? ( @user.gender == 'm' ? 'Male' : 'Female') : t(:not_known)
        
        .right_pane_contents
          = 'Date of birth: '
          %b
            = @user.dob.present? ? @user.dob.strftime('%e %b %Y') : t(:not_known)
      
      .right_pane_container
        .right_pane_contents
          = 'Place of birth: '
          %b
            = @user.pob.present? ? @user.pob : t(:not_known)
        
        .right_pane_contents
          = 'Nationality: '
          %b
            = @user.nationality.present? ? @user.nationality : t(:not_known)
      
      .right_pane_container
        .right_pane_contents
          = 'HKID name: '
          %b
            = @user.preferred_name.present? ? @user.preferred_name : t(:not_known)
        
        .right_pane_contents
          = 'HKID: '
          %b
            = @user.hkid.present? ? @user.hkid : t(:not_known)
      
      .right_pane_container
        .right_pane_contents
          = 'Pronoun: '
          %b
            = @user.preferred_pronoun.present? ? @user.preferred_pronoun : t(:not_known)

        - if FeatureFlag.enabled?('time-zone-feature', current_user)
          .right_pane_contents
            = 'Timezone: '
            %b
              = @user.timezone.present? ? shorten(@user.timezone.gsub(',', ', '), 64, ",") : t(:not_known)
