%h2.section
  = @title || "Search Results"
  
.suggestion_search
  - if @suggestions.any?
    - @suggestions.each do |sugg|
      = render :partial => "#{sugg.class.to_s.pluralize.underscore}/suggested", :object => sugg

  - else
    %li.error
      = t :no_results
  
  %p.cancel
    = link_to t(:clear_search), '#', :class => "cancel suggestion_search_cancel"
