#account
  %h1.pagetitle
    =t :forgot_password_title

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, id: 'password-reset-form' }) do |f|

    %p
      = t :password_reset_instructions

    %p
      = f.email_field :email, class: 'login', autofocus: true, placeholder: t('placeholders.session.email')

    %p.password_reset_sent
      = t :password_reset_sent  

    .controls
      .save.button
        %p.password_reset_actions
          %button.password-reset-btn.croucher-standard-btn{type: 'button'}= t(:send_reset_instructions)
          = t :or
          = link_to t(:cancel), '/users/sign_in', class: 'cancel'
