- content_for :title do
  = t(:calendar)
  .button-group
    %span.action
      - if can?(:create, Droom::Event)
        = link_to t(:add_event), droom.new_event_url, :class => "add", :data => {:action => "popup", :affected => "#events"}, style: 'margin-top: 18px'
      = link_to t(:subscribe_to_calendar), subscribe_events_url(current_user.authentication_token, protocol: "webcal", format: "ics"), class: "subscribe"

- content_for :subnavbar do
  = render :partial => 'subnavbar'

- content_for :breadcrumb do
  = render :partial => 'breadcrumb'

- content_for :margin do
  = render :partial => "droom/shared/calendar_and_search"
  = render :partial => "droom/invitations/invitations"
  = render :partial => "droom/dashboard/stream_events"

- start_year = 1978
- max_year = Droom::Event.pluck(:start).compact.map(&:year).uniq.max
- years = (start_year..max_year).to_a.reverse

#calendar
  .select-filter.py
    = select_tag :year, options_for_select(years, params[:year]), include_blank: 'Year', onchange: "this.options[this.selectedIndex].value && location.replace('/events?year=' + this.options[this.selectedIndex].value);"

  = render :partial => 'events'
